.movie-list {
  margin-left: 20px;
  margin-top: 5%;
}

.movie-list > h2 {
  font-weight: 300;
  border-bottom: 1px solid lightgray;
  width: 95%;
  line-height: 1.5;
}

.row__posters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
}

.row__poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
