.synopsis {
  display: flex;
  border-radius: 20px;
  margin-right: 10px;
  transition: transform 450ms;
}

.synopsis:hover {
  border: 1px solid rgba(45, 104, 231, 0.7);
  opacity: 1;
}

.synopsis__container {
  margin-left: 3%;
  font-size: 15px;
  font-weight: 300;
  color: lightgray;
  margin-top: 3%;
}

.synopsis__container > h1 {
  font-weight: 500;
  color: rgb(230, 227, 227);
}

.synopsis__container > h4 {
  color: #9ac7fa;
  font-weight: 400;
  margin-bottom: 2%;
}

.synopsis__buttons > button {
  margin-top: 3%;
  outline: none;
  border: none;
  background-color: #ad171eea;
  cursor: pointer;
  color: lightgray;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 3%;
}

.synopsis__icons {
  cursor: pointer;
  color: lightgray;
  width: 20%;
  font-size: 20px;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

.synopsis__icons:hover {
  color: white;
}

.synopsis__icons__heart {
  font-size: 20px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.synopsis__icons__heart:hover {
  color: red;
}
