.app {
  background-color: #111;
}

.app__body {
  color: #fff;
  margin-left: 20px;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
